# Core Framework
Flask
flasgger
flask-cors
python-dotenv

# Database
SQLAlchemy
alembic

# Validation
pydantic
pydantic-settings

# Testing
pytest
pytest-cov
faker

# Development
black
flake8

python-dateutil

# Server
uvicorn
a2wsgi